body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.MuiPaper-root {
  padding: 30px;
  max-width: 500px;
  width: 90%;
}

@media (max-width: 600px) {
  .MuiPaper-root {
    padding: 20px;
    width: 95%;
  }
}
